<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, + ${name} + '!'" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum dignissim malesuada.
</p>
<img th:src="@{/images/elie.jpg}" width="600" height="600"/>

<img src="https:/img.freepik.com/free-photo/view-wild-lion-nature_23-2150460851.jpg?semt=ais_hybrid&w=740" width="600" height="600"/>
</body>
</html>

-->

